@charset "UTF-8";
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #b1568d; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3c1053, #ad5389); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background: linear-gradient(to right, #121212, #1e1e2f); */
  color: white;
  min-height: 100vh;
  padding: 20px;
}

/* 
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
} */
/* تنسيق الـ Navbar */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 40px;
  flex-wrap: wrap;
}

.hero .image img {
  max-width: 100%;
  min-height: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

/* إن أردت جعل الصورة تشغل 50% */
.hero .image {
  width: 50%;
  order: 2; /* الصورة على اليمين */
  display: flex;
  justify-content: flex-end;
}

.hero .content {
  width: 50%;
  order: 1; /* النص على اليسار */
}

.content {
  max-width: 600px;
}

.content h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.content h1 span {
  color: #a78bfa;
}

.content h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.content .job {
  color: #a78bfa;
}

.content p {
  margin-bottom: 20px;
  line-height: 1.6;
  color: #ccc;
}

.buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.btn {
  background-color: #ad5389;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #3c1053;
}

.btn-outline {
  border: 1px solid #a78bfa;
  padding: 10px 20px;
  color: #a78bfa;
  text-decoration: none;
  border-radius: 5px;
}

.socials a {
  margin-right: 15px;
  font-size: 20px;
  color: #ccc;
  transition: color 0.3s;
}

.socials a:hover {
  color: #a78bfa;
}

nav.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* أو حسب لون موقعك */
  border-radius: 20px;
  font-size: 20px;
}

/* تنسيق الشعار */
.logo img {
  height: 70px;
}

/* قائمة الروابط */
.nav-links {
  list-style: none;
  display: flex;
  gap: 150px; /* المسافة بين الروابط */
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #a78bfa; /* لون عند التمرير */
}

.buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.buttons .btn {
  background-color: #ad5389;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 2px;
}
.buttons .btn:hover {
  background-color: #3c1053;
}
.buttons .btn-outline {
  border: 1px solid #a78bfa;
  padding: 10px 20px;
  color: #a78bfa;
  text-decoration: none;
  border-radius: 5px;
}

/*# sourceMappingURL=styles.css.map */
