.buttons {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    margin-top: 10px;

    .btn {
        background-color: #ad5389;
        color: #fff;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;

        &:hover {
            background-color: #3c1053;
        }
    }

    .btn-outline {
        border: 1px solid #a78bfa;
        padding: 10px 20px;
        color: #a78bfa;
        text-decoration: none;
        border-radius: 5px;
    }
}