nav.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
 /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
 /* أو حسب لون موقعك */
  border-radius: 20px;
  font-size: 20px;
}

/* تنسيق الشعار */
.logo img {
  height: 70px;
}

/* قائمة الروابط */
.nav-links {
  list-style: none;
  display: flex;
  gap: 150px; /* المسافة بين الروابط */
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #a78bfa; /* لون عند التمرير */
}
